absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.6
amqp==2.6.1
aniso8601==9.0.1
asgiref==3.5.1
asn1crypto==1.5.1
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
billiard==3.6.4.0
black==22.3.0
blinker==1.4
cachetools==5.0.0
celery==4.3.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cloud-sql-python-connector==0.6.1
commonmark==0.9.1
cryptography==37.0.1
cycler==0.11.0
Django==4.0.4
django-model-utils==4.2.0
doqu==0.28.2
Flask==2.1.2
Flask-Admin==1.6.0
Flask-API==3.0.post1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.2.1
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.2
flatbuffers==2.0
fonttools==4.32.0
frozenlist==1.3.0
gast==0.5.3
google-api-core==2.7.3
google-api-python-client==2.47.0
google-auth==2.6.5
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.0
greenlet==1.1.2
grpcio==1.44.0
h5py==3.6.0
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.3
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.0.1
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
kombu==4.6.11
libclang==13.0.0
Mako==1.0.7
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==2.19.5
marshmallow-sqlalchemy==0.28.0
matplotlib==3.5.1
modules==1.0.0
more-itertools==8.12.0
multidict==6.0.2
mypy-extensions==0.4.3
numpy==1.22.3
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pathspec==0.9.0
pg8000==1.26.1
Pillow==9.1.0
platformdirs==2.5.2
pluggy==0.13.1
protobuf==3.20.0
psycopg2-binary==2.9.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
Pygments==2.12.0
PyJWT==2.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.8
pytesseract==0.3.9
pytest==5.0.1
python-dateutil==2.8.1
python-dotenv==0.20.0
python-editor==1.0.3
pytz==2021.1
redis==3.3.2
requests==2.27.1
requests-oauthlib==1.3.1
rich==12.3.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
scramp==1.4.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.4.19
SQLAlchemy-i18n==1.1.0
SQLAlchemy-Utils==0.38.2
sqlparse==0.4.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.9
vine==1.3.0
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.14.0
WTForms==2.2.1
yarl==1.7.2
zipp==3.8.0
